.ci
.clang-format
.clang-tidy
.git
.git-blame-ignore-revs
.gitattributes
.github
.mailmap

# upstream toplevel files
CODE_OF_CONDUCT.md
CONTRIBUTING.md
LICENSE.TXT
README.md
SECURITY.md
pyproject.toml

# upstream directories
bolt
clang
clang-tools-extra
cmake
compiler-rt
cross-project-tests
flang
integration-test-suite
libc
libclc
libcxx
libcxxabi
libunwind
lld
lldb
llvm
llvm-libgcc
mlir
offload
openmp
polly
pstl
runtimes
third-party
utils

# build files
build-llvm
build-wasm
stamps
usage-*.svg*

# generated debian files
debian/*.debhelper.log
debian/*.dirs
debian/*.docs
debian/*.examples
debian/*.install
debian/*.links
debian/*.lintian-overrides
debian/*.oinfo.debhelper
debian/*.olist.debhelper
debian/*.manpages
debian/*.substvars
debian/.debhelper

debian/man
debian/tmp
debian/usr

debian/libclang1-20.symbols
debian/libllvm-20-ocaml-dev.META
debian/libomp5-20.symbols
debian/lldb-20.postinst
debian/llvm-20-runtime.binfmt
debian/llvm-20-runtime.binfmt.conf
debian/llvm-20-runtime.postinst
debian/llvm-20-runtime.prerm
debian/pollycc

# package directories
debian/bolt-20
debian/clang-20-doc
debian/clang-20-examples
debian/clang-20
debian/clang-format-20
debian/clang-tidy-20
debian/clang-tools-20
debian/clangd-20
debian/flang-20
debian/libbolt-20-dev
debian/libc++-20-dev-wasm32
debian/libc++-20-dev
debian/libc++1-20
debian/libc++abi-20-dev-wasm32
debian/libc++abi-20-dev
debian/libc++abi1-20
debian/libclang-20-dev
debian/libclang-common-20-dev
debian/libclang-cpp20-dev
debian/libclang-cpp20
debian/libclang-rt-20-dev-wasm32
debian/libclang-rt-20-dev-wasm64
debian/libclang-rt-20-dev
debian/libclang1-20
debian/libclc-20-dev
debian/libclc-20
debian/libflang-20-dev
debian/libfuzzer-20-dev
debian/liblld-20-dev
debian/liblld-20
debian/liblldb-20-dev
debian/liblldb-20
debian/libllvm-20-ocaml-dev
debian/libllvm20
debian/libllvmlibc-20-dev
debian/libmlir-20-dev
debian/libmlir-20
debian/liboffload-20
debian/liboffload-20-dev
debian/libomp-20-dev
debian/libomp-20-doc
debian/libomp5-20
debian/libpolly-20-dev
debian/libunwind-20-dev
debian/libunwind-20
debian/lld-20
debian/lldb-20
debian/llvm-20-dev
debian/llvm-20-doc
debian/llvm-20-examples
debian/llvm-20-linker-tools
debian/llvm-20-runtime
debian/llvm-20-tools
debian/llvm-20
debian/mlir-20-tools
debian/python3-clang-20
debian/python3-lldb-20
